<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DashBoard</h1>

    {{ session['logged_in'] }}
    {{ session['user'] }}
    <br><br>
    <h3>
        <a href="/user/signout">Sign Out</a>
        <form action="/user/delete" method="POST">
            <br>
            <button type="submit">Delete Account</button>
        </form>
    </h3>
</body>
</html>